.Card {
  width: 300px;
  height: 540px;
  margin: 15px 0;
  padding: 5px 15px;
  text-align: center;
  background: #161616;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.5s;
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .Card__name {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1.2rem;
  }

  .Card__image {
    padding: 10px 0px;
    border-bottom: 2px #2a2a2a solid;
    border-top: 2px #2a2a2a solid;

    img {
      width: 270px;
      height: 270px;
    }
  }

  .Card__description {
    padding: 5px;
    font-size: 0.9rem;
  }
}
